In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
from sklearn.cluster import KMeans

In [2]:
dados = pd.read_csv("q3.csv")
dados.head()

             pais  expectativa_de_vida  educacao   pib  estabilidade_politica
0     Reino Unido                 0.88      0.99  0.91                   1.10
1       Austrália                 0.90      0.99  0.93                   1.26
2          Canadá                 0.90      0.98  0.94                   1.24
3  Estados Unidos                 0.87      0.98  0.97                   1.18
4           Japão                 0.93      0.93  0.93                   1.20