In [3]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
from sklearn.cluster import KMeans

In [4]:
dados = pd.read_csv("q3.csv", index_col=0, sep=';')
dados.head()

                expectativa_de_vida  educacao   pib  estabilidade_politica
pais
Reino Unido                    0.88      0.99  0.91                   1.10
Austrália                      0.90      0.99  0.93                   1.26
Canadá                         0.90      0.98  0.94                   1.24
Estados Unidos                 0.87      0.98  0.97                   1.18
Japão                          0.93      0.93  0.93                   1.20

In [5]:
km = KMeans(n_clusters=5, init='random', n_init=1)
km.fit(dados)

print("Centros obtidos:")
print(km.cluster_centers_)

Centros obtidos:
[[ 0.766       0.814       0.674       0.338     ]
 [ 0.47285714  0.52428571  0.46285714 -1.15142857]
 [ 0.89285714  0.95857143  0.93        1.20428571]
 [ 0.24        0.37        0.36        0.2       ]
 [ 0.82        0.92        0.75        1.05      ]]

In [ ]:
dados_q4 = dados.copy()
dados_q4['class'] = km.predict(dados_q4)

dados_q4.sort_values("class")[["class"]]

                class
Países
Colômbia            0
Etiópia             0
Angola              0
Serra Leoa          0
Senegal             0
Nigéria             0
Paraguai            0
Austrália           1
Canadá              1
Estados Unidos      1
Japão               1
Cingapura           1
Moçambique          2
Egito               2
Reino Unido         3
Uruguai             3
França              3
Cuba                4
Argentina           4
Brasil              4
China               4